<?xml version="1.0" encoding="utf-8"?>

<!--
  ~ Copyright (c) 2018 Hai Zhang <dreaming.in.code.zh@gmail.com>
  ~ All Rights Reserved.
  -->

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.zhanghai.android.files">

    <uses-feature android:name="android.hardware.wifi" android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="30" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <!-- Shizuku requires API 23. -->
    <uses-sdk tools:overrideLibrary="rikka.shizuku.aidl,rikka.shizuku.api,rikka.shizuku.shared" />

    <!--
      ~ Samsung DeX requires explicitly setting android:resizeableActivity="true" for the app to be
      ~ resizable.
      ~ TODO: Remove this attribute once Samsung respects the default value for it.
      -->
    <application
        android:allowBackup="true"
        android:extractNativeLibs="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/launcher_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:requestRawExternalStorageAccess="true"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/launcher_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialFiles"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">

        <activity
            android:name="me.zhanghai.android.files.filelist.FileListActivity"
            android:exported="true"
            android:visibleToInstantApps="true"
            tools:ignore="UnusedAttribute">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="inode/directory" />
                <data android:mimeType="resource/folder" />
                <data android:mimeType="vnd.android.document/directory" />
            </intent-filter>
            <!-- @see me.zhanghai.android.files.file.isSupportedArchive -->
            <!--
              ~ We don't really support content URI archives.
              ~ TODO: Figure out a good way to allow choosing this activity only in our app, or
              ~ support content URI archives.
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/gzip" />
                <data android:mimeType="application/java-archive" />
                <data android:mimeType="application/rar" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/vnd.android.package-archive" />
                <data android:mimeType="application/vnd.debian.binary-package" />
                <data android:mimeType="application/x-7z-compressed" />
                <data android:mimeType="application/x-bzip2" />
                <data android:mimeType="application/x-compress" />
                <data android:mimeType="application/x-cpio" />
                <data android:mimeType="application/x-deb" />
                <data android:mimeType="application/x-debian-package" />
                <data android:mimeType="application/x-gtar" />
                <data android:mimeType="application/x-gtar-compressed" />
                <data android:mimeType="application/x-java-archive" />
                <data android:mimeType="application/x-lzma" />
                <data android:mimeType="application/x-tar" />
                <data android:mimeType="application/x-xz" />
            </intent-filter>
            -->
            <!-- @see https://android.googlesource.com/platform/packages/apps/DocumentsUI/+/master/AndroidManifest.xml -->
            <intent-filter>
                <action android:name="android.intent.action.OPEN_DOCUMENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <!--
              ~ Unusable until we implement DocumentsProvider.
            <intent-filter>
                <action android:name="android.intent.action.CREATE_DOCUMENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
                <data android:mimeType="*/*" />
            </intent-filter>
            -->
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <!--
              ~ Unusable until we implement DocumentsProvider.
            <intent-filter>
                <action android:name="android.intent.action.OPEN_DOCUMENT_TREE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            -->
            <intent-filter>
                <action android:name="me.zhanghai.android.files.intent.action.VIEW_DOWNLOADS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <!--
          ~ Using android:documentLaunchMode="always" gives a better result than
          ~ Intent.FLAG_ACTIVITY_NEW_TASK | Intent.FLAG_ACTIVITY_MULTIPLE_TASK. Not sure why though.
          -->
        <activity
            android:name="me.zhanghai.android.files.filelist.OpenFileActivity"
            android:documentLaunchMode="always"
            android:excludeFromRecents="true"
            android:exported="true"
            android:theme="@style/Theme.MaterialFiles.Translucent">
            <intent-filter>
                <action android:name="me.zhanghai.android.files.intent.action.OPEN_FILE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <activity
            android:name="me.zhanghai.android.files.filelist.EditFileActivity"
            android:autoRemoveFromRecents="true"
            android:icon="@drawable/edit_icon"
            android:label="@string/file_edit_title"
            android:theme="@style/Theme.MaterialFiles.Translucent" />

        <activity
            android:name="me.zhanghai.android.files.filelist.OpenFileAsDialogActivity"
            android:autoRemoveFromRecents="true"
            android:icon="@drawable/open_as_icon"
            android:label="@string/file_open_as_title"
            android:theme="@style/Theme.MaterialFiles.Translucent" />

        <activity
            android:name="me.zhanghai.android.files.storage.AddStorageDialogActivity"
            android:label="@string/storage_add_storage_title"
            android:theme="@style/Theme.MaterialFiles.Translucent" />

        <activity
            android:name="me.zhanghai.android.files.storage.EditDeviceStorageDialogActivity"
            android:label="@string/storage_edit_device_storage_title"
            android:theme="@style/Theme.MaterialFiles.Translucent" />

        <activity
            android:name="me.zhanghai.android.files.storage.AddDocumentTreeActivity"
            android:label="@string/storage_add_document_tree_title"
            android:theme="@style/Theme.MaterialFiles.Translucent" />

        <activity
            android:name="me.zhanghai.android.files.storage.EditDocumentTreeDialogActivity"
            android:label="@string/storage_edit_document_tree_title"
            android:theme="@style/Theme.MaterialFiles.Translucent" />

        <activity
            android:name="me.zhanghai.android.files.storage.EditSftpServerActivity"
            android:label="@string/storage_edit_sftp_server_title_edit"
            android:theme="@style/Theme.MaterialFiles" />

        <activity
            android:name="me.zhanghai.android.files.storage.AddLanSmbServerActivity"
            android:label="@string/storage_add_lan_smb_server_title"
            android:theme="@style/Theme.MaterialFiles" />

        <activity
            android:name="me.zhanghai.android.files.storage.EditSmbServerActivity"
            android:label="@string/storage_edit_smb_server_title_edit"
            android:theme="@style/Theme.MaterialFiles" />

        <activity
            android:name="me.zhanghai.android.files.navigation.EditBookmarkDirectoryDialogActivity"
            android:label="@string/navigation_edit_bookmark_directory_title"
            android:theme="@style/Theme.MaterialFiles.Translucent" />

        <activity
            android:name="me.zhanghai.android.files.ftpserver.FtpServerActivity"
            android:exported="true"
            android:label="@string/ftp_server_title"
            android:launchMode="singleTop"
            android:theme="@style/Theme.MaterialFiles">
            <intent-filter>
                <action android:name="me.zhanghai.android.files.intent.action.MANAGE_FTP_SERVER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="me.zhanghai.android.files.settings.SettingsActivity"
            android:exported="true"
            android:label="@string/settings_title"
            android:launchMode="singleTop"
            android:theme="@style/Theme.MaterialFiles">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="me.zhanghai.android.files.storage.StorageListActivity"
            android:label="@string/storage_list_title"
            android:launchMode="singleTop"
            android:theme="@style/Theme.MaterialFiles" />

        <activity
            android:name="me.zhanghai.android.files.settings.StandardDirectoryListActivity"
            android:label="@string/settings_standard_directory_list_title"
            android:launchMode="singleTop"
            android:theme="@style/Theme.MaterialFiles" />

        <activity
            android:name="me.zhanghai.android.files.settings.BookmarkDirectoryListActivity"
            android:label="@string/settings_bookmark_directory_list_title"
            android:launchMode="singleTop"
            android:theme="@style/Theme.MaterialFiles" />

        <activity
            android:name="me.zhanghai.android.files.about.AboutActivity"
            android:label="@string/about_title"
            android:launchMode="singleTop"
            android:theme="@style/Theme.MaterialFiles" />

        <activity
            android:name="me.zhanghai.android.files.filejob.FileJobActionDialogActivity"
            android:autoRemoveFromRecents="true"
            android:theme="@style/Theme.MaterialFiles.Translucent" />

        <activity
            android:name="me.zhanghai.android.files.filejob.FileJobConflictDialogActivity"
            android:autoRemoveFromRecents="true"
            android:theme="@style/Theme.MaterialFiles.Translucent" />

        <activity
            android:name="me.zhanghai.android.files.viewer.text.TextEditorActivity"
            android:exported="true"
            android:label="@string/text_editor_title"
            android:theme="@style/Theme.MaterialFiles">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/ecmascript" />
                <data android:mimeType="application/javascript" />
                <data android:mimeType="application/json" />
                <data android:mimeType="application/typescript" />
                <data android:mimeType="application/x-sh" />
                <data android:mimeType="application/x-shellscript" />
                <data android:mimeType="application/xml" />
                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>

        <activity
            android:name="me.zhanghai.android.files.viewer.image.ImageViewerActivity"
            android:exported="true"
            android:label="@string/image_viewer_title"
            android:theme="@style/Theme.MaterialFiles.Immersive">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <service android:name="me.zhanghai.android.files.filejob.FileJobService" />

        <service android:name="me.zhanghai.android.files.ftpserver.FtpServerService" />

        <service
            android:name="me.zhanghai.android.files.ftpserver.FtpServerTileService"
            android:exported="true"
            android:icon="@drawable/shared_directory_icon_white_24dp"
            android:label="@string/ftp_server_title"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>

        <provider
            android:name="me.zhanghai.android.files.app.AppProvider"
            android:authorities="@string/app_provider_authority"
            android:exported="false" />

        <provider
            android:name="me.zhanghai.android.files.file.FileProvider"
            android:authorities="@string/file_provider_authority"
            android:exported="false"
            android:grantUriPermissions="true" />

        <receiver android:name="me.zhanghai.android.files.filejob.FileJobReceiver" />

        <receiver android:name="me.zhanghai.android.files.ftpserver.FtpServerReceiver" />

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />

        <!-- We need to reference the MD3 theme in XML for R8 to keep relevant resources. -->
        <activity
            android:name=".KeepMd3Resources"
            android:theme="@style/Theme.MaterialFiles.Md3"
            tools:ignore="MissingClass" />
    </application>
</manifest>
