<?xml version="1.0" encoding="utf-8"?>

<!--
  ~ Copyright (c) 2018 Hai Zhang <dreaming.in.code.zh@gmail.com>
  ~ All Rights Reserved.
  -->

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="me.zhanghai.android.files">

    <uses-feature android:name="android.hardware.wifi" android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/launcher_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/launcher_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialFiles"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">

        <activity
            android:name="me.zhanghai.android.files.filelist.FileListActivity"
            android:label="@string/file_list_title"
            android:theme="@style/Theme.MaterialFiles.TransparentStatusBar"
            android:visibleToInstantApps="true"
            tools:ignore="UnusedAttribute">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="inode/directory" />
                <data android:mimeType="resource/folder" />
                <data android:mimeType="vnd.android.document/directory" />
            </intent-filter>
            <!-- @see me.zhanghai.android.files.file.MimeTypes#isSupportedArchive(String) -->
            <!--
              ~ We don't really support content URI archives.
              ~ TODO: Figure out a good way to allow choosing this activity only in our app, or
              ~ support content URI archives.
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/gzip" />
                <data android:mimeType="application/java-archive" />
                <data android:mimeType="application/rar" />
                <data android:mimeType="application/zip" />
                <data android:mimeType="application/vnd.android.package-archive" />
                <data android:mimeType="application/vnd.debian.binary-package" />
                <data android:mimeType="application/x-7z-compressed" />
                <data android:mimeType="application/x-bzip2" />
                <data android:mimeType="application/x-compress" />
                <data android:mimeType="application/x-cpio" />
                <data android:mimeType="application/x-deb" />
                <data android:mimeType="application/x-debian-package" />
                <data android:mimeType="application/x-gtar" />
                <data android:mimeType="application/x-gtar-compressed" />
                <data android:mimeType="application/x-java-archive" />
                <data android:mimeType="application/x-lzma" />
                <data android:mimeType="application/x-tar" />
                <data android:mimeType="application/x-xz" />
            </intent-filter>
            -->
            <!-- @see https://android.googlesource.com/platform/packages/apps/DocumentsUI/+/master/AndroidManifest.xml -->
            <intent-filter>
                <action android:name="android.intent.action.OPEN_DOCUMENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <!--
              ~ Unusable until we implement DocumentsProvider.
            <intent-filter>
                <action android:name="android.intent.action.CREATE_DOCUMENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
                <data android:mimeType="*/*" />
            </intent-filter>
            -->
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <!--
              ~ Unusable until we implement DocumentsProvider.
            <intent-filter>
                <action android:name="android.intent.action.OPEN_DOCUMENT_TREE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            -->
        </activity>

        <activity
            android:name="me.zhanghai.android.files.filelist.OpenFileAsDialogActivity"
            android:autoRemoveFromRecents="true"
            android:icon="@drawable/open_as_icon"
            android:label="@string/file_open_as_title"
            android:theme="@style/Theme.MaterialFiles.Translucent" />

        <activity
            android:name="me.zhanghai.android.files.ftpserver.FtpServerActivity"
            android:label="@string/ftp_server_title"
            android:launchMode="singleTop"
            android:theme="@style/Theme.MaterialFiles">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.zhanghai.android.files.filelist.FileListActivity" />
        </activity>

        <activity
            android:name="me.zhanghai.android.files.settings.SettingsActivity"
            android:label="@string/settings_title"
            android:launchMode="singleTop"
            android:theme="@style/Theme.MaterialFiles">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.zhanghai.android.files.filelist.FileListActivity" />
        </activity>

        <activity
            android:name="me.zhanghai.android.files.settings.StandardDirectoriesActivity"
            android:label="@string/settings_standard_directories_title"
            android:launchMode="singleTop"
            android:theme="@style/Theme.MaterialFiles">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.zhanghai.android.files.settings.SettingsActivity" />
        </activity>

        <activity
            android:name="me.zhanghai.android.files.settings.BookmarkDirectoriesActivity"
            android:label="@string/settings_bookmark_directories_title"
            android:launchMode="singleTop"
            android:theme="@style/Theme.MaterialFiles">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.zhanghai.android.files.settings.SettingsActivity" />
        </activity>

        <activity
            android:name="me.zhanghai.android.files.about.AboutActivity"
            android:label="@string/about_title"
            android:launchMode="singleTop"
            android:theme="@style/Theme.MaterialFiles">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="me.zhanghai.android.files.filelist.FileListActivity" />
        </activity>

        <activity
            android:name="me.zhanghai.android.files.filejob.FileJobActionDialogActivity"
            android:autoRemoveFromRecents="true"
            android:theme="@style/Theme.MaterialFiles.Translucent" />

        <activity
            android:name="me.zhanghai.android.files.filejob.FileJobConflictDialogActivity"
            android:autoRemoveFromRecents="true"
            android:theme="@style/Theme.MaterialFiles.Translucent" />

        <activity
            android:name="me.zhanghai.android.files.viewer.text.TextEditorActivity"
            android:label="@string/text_editor_title"
            android:theme="@style/Theme.MaterialFiles"
            android:windowSoftInputMode="adjustResize|stateUnchanged">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/ecmascript" />
                <data android:mimeType="application/javascript" />
                <data android:mimeType="application/json" />
                <data android:mimeType="application/typescript" />
                <data android:mimeType="application/x-sh" />
                <data android:mimeType="application/x-shellscript" />
                <data android:mimeType="application/xml" />
                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>

        <activity
            android:name="me.zhanghai.android.files.viewer.image.ImageViewerActivity"
            android:label="@string/image_viewer_title"
            android:theme="@style/Theme.MaterialFiles.Immersive">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <service android:name="me.zhanghai.android.files.filejob.FileJobService" />

        <service android:name="me.zhanghai.android.files.ftpserver.FtpServerService" />

        <provider
            android:name="me.zhanghai.android.files.AppProvider"
            android:authorities="@string/app_provider_authority"
            android:exported="false" />

        <provider
            android:name="me.zhanghai.android.files.file.FileProvider"
            android:authorities="@string/file_provider_authority"
            android:exported="false"
            android:grantUriPermissions="true" />

        <receiver android:name="me.zhanghai.android.files.filejob.FileJobReceiver" />

        <receiver android:name="me.zhanghai.android.files.ftpserver.FtpServerReceiver" />

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />

        <!-- We need to reference a MD2 theme in XML for R8 to keep relevant resources. -->
        <activity
            android:name=".KeepMd2Resources"
            android:theme="@style/Theme.MaterialFiles.Md2" />
    </application>
</manifest>
