<?xml version="1.0" encoding="utf-8"?>

<!--
  ~ Copyright (c) 2018 Zhang Hai <Dreaming.in.Code.ZH@Gmail.com>
  ~ All Rights Reserved.
  -->

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.zhanghai.android.materialfilemanager">

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".main.ui.MainActivity"
            android:label="@string/main_title"
            android:theme="@style/AppTheme.TransparentStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
